asgiref
blinker
certifi
charset-normalizer 
click
Django
django-embed-video
easy-thumbnails
Flask
idna
itsdangerous
Jinja2
lgpio
MarkupSafe
paperclip
pillow
pyperclip
python-magic
requests
rpi-lgpio
setuptools
urllib3
Werkzeug